.chat-side{
    width: 300px;
    color: white;
    float: left;
}

.side-header__box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
}

.side-header__box__menu {
    display: flex;
}

.side-header__box__menu li {
    margin-left: 0.3rem;
}

.side-header__box__user-name {
    color: #ffffff;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.groups {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 20px 20px 0;
    overflow: scroll;
}

a {
    color: white;
}

.group {
    margin-bottom: 40px;
}

.group__group-name {
    font-size: 15px;
    margin-bottom: 5px;
}

.group__latest-message {
    font-size: 11px;
}