.chat-sid{
    width: 300px;
    color: white;
    float: left;
}

.side-header__box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
}

.side-header__box__menu {
    display: flex;
}

.side-header__box__menu li {
    margin-left: 0.3rem;
}