.form {
    height: 90px;
    padding: 20px 40px;
    background-color: #ddd;
}

.new_message {
    display: flex;
}

.input {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.form__mask {
    position: relative;
}

.form__message {
    height: 50px;
    width: 100%;
    padding: 0 40px 0 10px;
    color: #434a54;
    border-style: none;
}

.form__mask__image {
    font-size: 1.3rem;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.icon {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.form__submit {
    width: 100px;
    height: 50px;
    padding: 0 30px;
    margin-left: 15px;
    background-color: #38aef0;
    color: white;
    cursor: pointer;
}